html {
    background: #b0c4df;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 20pt;
}

code {
    font-family: 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 10pt;
    line-height: 19.5px;
    background-color: lightgoldenrodyellow;
}

.column {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row1 {
    background-color: #ccdeff;
    display: flex;
    height: 60px;
    align-items: center;
}

.row2 {
    flex-grow: 1;
}

.app-title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.header {
    margin: 10px 0;
    font-size: larger;
    font-weight: bold;
}

pre {
    padding: 10px;
    background-color: #eeeeee;
    font-family: 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 10pt;
}

/* Override SLDS settings */

ol {
    list-style: unset;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    list-style: unset;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

lightning-tab {
    /* subtract row1 and row3 height */
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.collector-pane {
    padding: 0 10px;
}

.collector-header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 10px;
}

.collector-header > :not(.collector-header-title):last-child {
    flex-grow: 1;
    text-align: right;
}

.collector-header-title {
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}

.collector-body {
    /* subtract row1 and row3 height + collector-header height + margin-top */
    margin-top: 10px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    /* To match the style of the lightning-tabset: */
    border-width: 1px;
    border-radius: 4px;
}

p {
    margin-bottom: 1em;
}

.proto3 {
    font-size: 10pt;
}

lightning-badge {
    margin-right: 8px;
}

.doc-link {
    font-size: 12pt;
}

.app-icon {
    margin-left: 10px;
    align-self: center;
}

.collector-stats {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.stat-label {
    font-weight: bold;
    margin: 0 10px;
}
