p {
    margin-bottom: 1em;
}

.header {
    margin: 10px 0 0;
    font-size: larger;
    font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex :first-child {
    flex-grow: 1;
}

.schema-link {
    margin: 22px 5px 0;
}