code {
    font-family: 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 10pt;
    line-height: 19.5px;
    background-color: lightgoldenrodyellow;
}

.header {
    margin: 10px 0;
    font-size: larger;
    font-weight: bold;
}

.act-example {
    display: block;
    margin: 12px;
}

.div-example {
    min-height: 40px;
    min-width: 40px;
    background-color: lightgray;
}

.click-target {
    cursor: pointer;
}

.button {
    width: 240px;
    height: 30px;
}

.examples {
    margin-top: 20px;
}
