{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": "**/*.html",
            "options": {
                "parser": "lwc",
                "printWidth": 100
            }
        }
    ]
}
