.section-header {
    display: inline-block;
    font-size: 22pt;
    margin-bottom: 12px;
}

.section-header-title {
    margin-left: 10px;
}

.hidden {
    visibility: collapse;
}

.play {
    margin-top: 20px;
    padding: 10px 10px 20px 10px;
    border: solid 1px gray;
    background-color: rgb(250, 240, 227);
}
